@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");

.card {
  font-family: "Roboto", sans-serif;
  border-top: 3px solid #141414;
  line-height: 1.6;
}

.cardHeader {
  border-bottom: 1px solid #d5e0e8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0px;
}

.cardHeader .heading {
  font-size: 32px;
}

.cardContent {
  padding: 12px 0px;
}

.cardContent .heading {
  font-size: 22px;
}

.cardAction {
  border-bottom: 1px solid #d5e0e8;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 12px 0px;
}

.cardLink {
  color: #84919c;
  text-decoration: none;
}

.cardLink:hover {
  color: #005c9c;
  text-decoration: none;
}

.heading {
  font-weight: 300;
  margin: 0px;
}

.body {
  font-weight: 500;
}
